* {
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
}

.header {
  font-size: 22px;
  font-weight: 600;
  padding: 1em;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: azure;
}

.block {
  display: flex;
  margin: 0 auto;
}

.faq {
  margin: 15px 0px;

  display: flex;
  justify-content: center;
}

input::-webkit-details-marker {
  display: none;
}

input::before {
  content: "+";
  float: left;
  font-size: 22px;
  margin: -5px 10px 0 0;
  text-align: center;
  width: 20px;
}

details[open] summary::before {
  content: "-";
}
input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.accordion {
  margin: 10px;
  border-radius: 5px;
  overflow: hidden;
}
.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  font-weight: bold;
  cursor: pointer;
}
.tab-content {
  max-height: 0;
  padding: 0 1em;
  transition: all 0.35s;
}
input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}
